.add-contact-wrapper {
  height: 100%;

  padding: 2rem;
}

.first-page-form {
  display: grid;
  grid-template:
    "name username" auto
    "email mobile" auto
    "linkedin type" auto
    "twitter action" auto /
    1fr 1fr;
}
.second-page-form {
  display: grid;
  grid-template:
    "country city" auto
    "street postcode" auto
    "remarks remarks"
    "action action" auto /
    1fr 1fr;
}

/* Icons */
section > span {
  color: #888888;

  position: absolute;
  top: 1.7rem;
  left: 2rem;
}

/* SECTION ANIMATION OF SCALE AND SHADOW */
.bar-input {
  width: 100%;
  height: 45px;

  padding: 0 1rem 0 3rem;
  outline: none;

  /* Ellipsis overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  border: 0;
  border-radius: 50px;
  background: #e0e0e0;
  -webkit-appearance: none;
  -moz-box-shadow: 10px 10px 20px #cacaca, -10px -10px 20px #f6f6f6;
  -webkit-box-shadow: 10px 10px 20px #cacaca, -10px -10px 20px #f6f6f6;
  box-shadow: 10px 10px 20px #cacaca, -10px -10px 20px #f6f6f6;

  transition: ease box-shadow 0.2s;
}
.section-bar-input {
  padding: 1rem;
  position: relative;

  transition: ease scale 0.2s;
}
.section-bar-input:hover {
  scale: 1.05;
}
.section-bar-input:hover > .bar-input {
  box-shadow: 5px 5px 10px #cacaca, -5px -5px 10px #f6f6f6;
}

/* First Page -----------------------------*/
.sec-name {
  grid-area: name;
}
.sec-username {
  grid-area: username;
}
.sec-email {
  grid-area: email;
}
.sec-mobile {
  grid-area: mobile;
}
.sec-linkedin {
  grid-area: linkedin;
}
.sec-twitter {
  grid-area: twitter;
}
.sec-type {
  grid-area: type;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  align-items: center;
  justify-content: center;

  margin: 1rem 0 0 1rem;
}
.sec-type p {
  margin: 0;
  color: #787878;
}

/* SWITCH BUTTON */
.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
}
.switch input {
  /* Hide the White Box */
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  /* OFF */
  position: absolute;
  cursor: pointer;

  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%; */
  background-color: #ccc;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  border-radius: 50%;
  bottom: 4px;
  background-color: white;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input[type="checkbox"]:checked + .slider {
  background-color: #1bb490;
}
input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #1bb490;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Second Page ---------------------------*/
.sec-country {
  grid-area: country;
}
.sec-city {
  grid-area: city;
}
.sec-street {
  grid-area: street;
}
.sec-postcode {
  grid-area: postcode;
}
.sec-remarks {
  grid-area: remarks;
}

/* Third Page --------------------------- */
.third-page-form h2 {
  grid-area: header;
  text-align: center;
  margin-top: 0;
}

/* All Pages */
.sec-actions {
  grid-area: action;

  display: grid;
  grid-auto-flow: column;
  justify-content: right;

  margin: 1rem 1rem 0 0;

  gap: 1rem;
}
.action-btn,
.create-btn {
  height: 50px;
  width: 100px;

  color: #1b1b1b;

  border: 0;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #b3b3b3, -10px -10px 20px #ffffff;

  transition: ease filter 0.1s;
}
.action-btn:hover,
.create-btn:hover {
  cursor: pointer;
  filter: brightness(92%);
}
.action-btn:active,
.create-btn:active {
  filter: brightness(88%);
}
